body{
    background-color: #fff8f0;
    text-align: center;
    margin: 0rem;
}

nav{
    display:flex;
    background-color: #f164ad;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

h1{
    font-family: 'Londrina Solid', sans-serif;
    font-weight: 300;
    font-size: 2.6rem;
    margin: 1vh;
    padding-top: 3.2vh;
}

h2{
    font-family: 'DynaPuff', serif;
    color: white;
    padding: 0rem 1rem;
}

h2 a{
    color: white;
    text-decoration: none;
}

h3{
    font-family: 'Londrina Solid', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
}

p{
    font-family: 'Zain', serif;
    font-weight: 400;
    font-size: 1.4rem;
}

a{
    text-decoration: none;
}

.nav-item{
    font-family: 'Zain', serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
}

.nav-item:hover{
    color: #ffceb0;
}

.logo{
    height: 3rem;
    align-self: center;
}

.brand{
    display: flex;
}

.brand h2{
    text-decoration: none;
}

.wiggly-box {
    --s: 20px;  /* control the size of the wave */
    --w: 400px; /* preferred image width */
    
    width: round(var(--w),4*var(--s));
    aspect-ratio: 1;
    border: calc(2*var(--s)) solid #0000;
    padding: calc(3*var(--s)/2);
    box-sizing: border-box;
    background: #17642D;
    mask: 
      conic-gradient(#000 0 0) no-repeat
       50%/calc(100% - 6*var(--s)) calc(100% - 6*var(--s)),
      radial-gradient(var(--s),#000 100%,#0000 calc(100% + 1px)) 
       0 0/calc(4*var(--s)) calc(4*var(--s)),
      radial-gradient(var(--s),#0000 calc(100% - 1px),#000) 
       var(--s) var(--s)/calc(2*var(--s)) calc(2*var(--s)) padding-box;
}
  
.wiggly-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bio{
    max-width: 60vw;
    min-width: 50vw;
    text-align: left;
}

.body-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    min-height: 50vh;
}

.contact{
    background-color: #f164ad;
    padding: 1rem 2rem;
    position:fixed;
    bottom: 0;
    width: 100vw;
}

.contact-me{
    margin: 0rem;
    color: white;
}

.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    font-family: 'Zain', serif;
    font-weight: 400;
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
    font-style: normal;
}

.contact-info a{
    color: white;
    text-decoration: none;
}

.contact-info a:hover{
    color: #ffceb0;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffceb0;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation.left::after {
    transform-origin: bottom right;
}
  
.hover-underline-animation.left:hover::after {
    transform-origin: bottom left;
}

#flower-container{
    height: 40vh;
    width: 30vw;
    display: flex;
    position: absolute;
    z-index: -1;
    right: 0;
    overflow: hidden;
}

.flower{
    position: absolute;
    right: 6vw;
    top: 0;
}

.circle {
    background: #f46a14;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.triangle {
    margin-top: -20px;
    width: 0;
    height: 0;
    border-top: 80px solid #f46a14;
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;   
}

.petal{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center 120px;
}

.petal:nth-child(1) {

    transform: rotate(45deg);

}

.petal:nth-child(2) {

    transform: rotate(65deg);

}

.petal:nth-child(2) {

    transform: rotate(90deg);

}

.petal:nth-child(3) {

    transform: rotate(135deg);

}

.petal:nth-child(5) {

    transform: rotate(180deg);

}

.petal:nth-child(6) {

    transform: rotate(225deg);

}

.petal:nth-child(7) {

    transform: rotate(270deg);

}

.petal:nth-child(8) {

    transform: rotate(315deg);

}

.petal:nth-child(9) {

    transform: rotate(360deg);

}