.project-name{
    color: #FF5E32;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4vh;;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2vh;
    max-width: 80vw;
    margin: 0 20vw;
}

.section-name {
    grid-column: 1;
    text-align: left;
}

.description {
    grid-column: 2;
    padding: 20px 20px 20px 40px;
    display: flex;
    flex-direction: column;
}

.section-name h3 {
    color: #FF5E32;
    width: 100%;
    text-align: end;
}

.description p{
    color: #000;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 300;
    padding-right: 5vw;
}

li{
    color: #000;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 300;
}

ol {
    padding-right: 8vw;
}

ul {
    margin: 0;
}

h4{
    font-family: 'DM Serif Display', serif;
    font-size: 1.4rem;
    color: #7D8436;
    margin: 2vh 0vh;
}

.squares{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 8vw;
}

hr {
    display: block;
    border: 2px solid #7D8436;
    width: 90%;
}

.basic-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.basic-info-text {
    width: 30vw;
}

.basic-info-text p {
    color: #000;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 400;
    padding-right: 5vw;
}

img {
    width: 60%;
}

.split {
    width: 80%;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.centered-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}

.centered-column a {
    color: #000000;
    text-decoration: underline;
}