/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #about {
        padding: var(--sectionPadding);
    }
    #about .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #about .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 32.625rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #about .cs-text {
        margin-bottom: 1rem;
    }
    #about .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #about .cs-image-group {
        /* scaling entire section down. font-size starts at a min in vw, and stops when that value reaches 1em (16px). Since we want the picture elements to base their font size on the parent and not the root, we use ems for this entire section  */
        font-size: min(2.08vw, 0.791em);
        width: 42.875em;
        height: 41.125em;
        position: relative;
        /* flips it horizontally */
        transform: scaleX(-1);
    }
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-3em);
        }
        100% {
            transform: translateY(0);
        }
    }
    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2em);
        }
        100% {
            transform: translateY(0);
        }
    }
    #about .cs-image-group:before {
        /* blue circle */
        content: "";
        width: 7.5em;
        height: 7.5em;
        border-radius: 50%;
        background: var(--skyblue);
        opacity: 1;
        position: absolute;
        display: block;
        bottom: 6.25em;
        left: 0em;
        z-index: 10;
        animation-name: floatAnimation;
        animation-duration: 6s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    #about .cs-image-group:after {
        /* white circle */
        content: "";
        width: 9.375em;
        height: 9.375em;
        border-radius: 50%;
        background: var(--skyblue);
        opacity: 1;
        position: absolute;
        display: block;
        top: 0em;
        right: 6.25em;
        z-index: -1;
        animation-name: floatAnimation2;
        animation-duration: 4s;
        animation-delay: 0.2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    #about .cs-picture {
        width: 39.375em;
        height: 39.375em;
        border-radius: 50%;
        border: clamp(6px, 1.2vw, 12px) solid var(--blue);
        /* clips the img tag corners */
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }
    #about .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        /* flips image to original orientation, undoing the flip on the parent container */
        transform: scaleX(-1);
    }
    #about .cs-box {
        width: 15.8125em;
        height: 15.8125em;
        border-radius: 50%;
        border: clamp(6px, 1.2vw, 12px) solid var(--blue);
        background-color: var(--skyblue);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.25rem;
        position: absolute;
        bottom: 0;
        right: 0;
        /* flips image to original orientation, undoing the flip on the parent container */
        transform: scaleX(-1);
    }
    #about .cs-number {
        /* 40px - 61px */
        font-size: clamp(2.5rem, 5vw, 3.8125rem);
        line-height: 1.2em;
        font-weight: bold;
        text-align: center;
        color: var(--blue);
    }
    #about .cs-desc {
        font-family: var(--headingFont);
        /* 14px - 25px */
        font-size: clamp(1.2rem, 2.4vw, 3rem);
        line-height: 1.2em;
        text-align: center;
        max-width: 7.8125rem;
        color: var(--blue);
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #about .cs-container {
        max-width: 80rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    #about .cs-content {
        width: 50%;
    }
    #about .cs-image-group {
        /* reset the scale */
        font-size: min(1.2vw, 1em);
        /* sends it to the right in the 2nd position */
        order: 2;
    }
}

                                