:root {
  /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  --blue: #274C77;
  --skyblue: #A3CEF1;
  --dustyblue: #8096BA;
  --gray: #8B8C89;
  --lightgray: #E7ECEF;
  --white: #FFFFFF;
  --black: #000000;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  --headingFont: "DM Serif Display", serif;
  --bodyFont: "Funnel Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}
.cs-topper {
  font-family: var(--headingFont);
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: .1em;
  font-weight: 700;
  color: var(--blue);
  margin-bottom: 0.25rem;
  display: block;
}

.cs-title {
  font-family: var(--headingFont);
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--blue);
  position: relative;
}

.cs-title-home{
  min-width: 50vw;
  font-size: 1.6rem;
}

.cs-text {
  font-family: var(--bodyFont);
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--black);
}         

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body.cs-open {
    overflow: hidden;
  }
  #cs-navigation {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0.75rem 1rem;
    background-color: var(--blue);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;   
  }
  #cs-navigation:before {
    content: "";
    width: 100%;
    height: 0vh;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -1100;
    transition: height 0.5s, opacity 0.5s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  #cs-navigation.cs-active:before {
    height: 150vh;
    opacity: 1;
  }
  #cs-navigation.cs-active .cs-ul-wrapper {
    opacity: 1;
    transform: scaleY(1);
    transition-delay: 0.15s;
  }
  #cs-navigation.cs-active .cs-li {
    opacity: 1;
    transform: translateY(0);
  }
  #cs-navigation .cs-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #cs-navigation .cs-logo {
    width: 40%;
    max-width: 15rem;
    height: 100%;
    white-space: nowrap;
    margin: 0 auto 0 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  #cs-navigation .cs-logo h2 {
    font-family: var(--headingFont);
    font-size: 1.5rem;
    color: var(--white);
    text-decoration: none;
    width: 100%;
  }  
  #cs-navigation .cs-logo{
    text-decoration: none;
  }
  #cs-navigation .cs-toggle {
    /* 44px - 48px */
    width: clamp(2.75rem, 6vw, 3rem);
    height: clamp(2.75rem, 6vw, 3rem);
    margin: 0 0 0 auto;
    background-color: var(--skyblue);
    border: none;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cs-navigation .cs-active .cs-line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }
  #cs-navigation .cs-active .cs-line2 {
    top: 50%;
    transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
    transform-origin: center;
  }
  #cs-navigation .cs-active .cs-line3 {
    opacity: 0;
    bottom: 100%;
  }
  #cs-navigation .cs-box {
    /* 24px - 28px */
    width: clamp(1.5rem, 2vw, 1.75rem);
    /* 14px - 16px */
    height: clamp(0.875rem, 1.5vw, 1rem);
    position: relative;
  }
  #cs-navigation .cs-line {
    width: 100%;
    height: 2px;
    background-color: var(--blue);
    border-radius: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #cs-navigation .cs-line1 {
    top: 0;
    transition: transform 0.5s, top 0.3s, left 0.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform-origin: center;
  }
  #cs-navigation .cs-line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.3s, left 0.3s, transform 0.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  #cs-navigation .cs-line3 {
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s;
  }
  #cs-navigation .cs-ul-wrapper {
    width: 100%;
    height: auto;
    padding-bottom: 2.4em;
    background-color: var(--blue);
    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    overflow: hidden;
    transform: scaleY(0);
    transition: transform 0.4s, opacity 0.3s;
    transform-origin: top;
  }
  #cs-navigation .cs-ul {
    width: 100%;
    height: auto;
    max-height: 65vh;
    margin: 0;
    padding: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    overflow: scroll;
  }
  #cs-navigation .cs-li {
    text-align: center;
    list-style: none;
    width: 100%;
    margin-right: 0;
    opacity: 0;
    /* transition from these values */
    transform: translateY(-4.375rem);
    transition: transform 0.6s, opacity 0.9s;
  }
  #cs-navigation .cs-li:nth-of-type(1) {
    transition-delay: 0.05s;
  }
  #cs-navigation .cs-li:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #cs-navigation .cs-li:nth-of-type(3) {
    transition-delay: 0.15s;
  }
  #cs-navigation .cs-li:nth-of-type(4) {
    transition-delay: 0.2s;
  }
  #cs-navigation .cs-li:nth-of-type(5) {
    transition-delay: 0.25s;
  }
  #cs-navigation .cs-li:nth-of-type(6) {
    transition-delay: 0.3s;
  }
  #cs-navigation .cs-li:nth-of-type(7) {
    transition-delay: 0.35s;
  }
  #cs-navigation .cs-li:nth-of-type(8) {
    transition-delay: 0.4s;
  }
  #cs-navigation .cs-li:nth-of-type(9) {
    transition-delay: 0.45s;
  }
  #cs-navigation .cs-li:nth-of-type(10) {
    transition-delay: 0.5s;
  }
  #cs-navigation .cs-li:nth-of-type(11) {
    transition-delay: 0.55s;
  }
  #cs-navigation .cs-li:nth-of-type(12) {
    transition-delay: 0.6s;
  }
  #cs-navigation .cs-li:nth-of-type(13) {
    transition-delay: 0.65s;
  }
  #cs-navigation .cs-li-link {
    font-family: var(--bodyFont);
    /* 16px - 24px */    
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.2em;
    text-decoration: none;
    margin: 0;
    color: var(--white);
    display: inline-block;
    position: relative;
  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 1;
    display: none;
    position: absolute;
    bottom: -0.125rem;
    left: 0;
  }
  #cs-navigation .cs-li-link.cs-active:before {
    display: block;
  }
  #cs-navigation .cs-button-solid {
    display: none;
  }
}

  /*-- -------------------------- -->
  <---     Desktop Navigation     -->
  <--- -------------------------- -*/
  /* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  body.cs-open {
    overflow: hidden;
  }
  #cs-navigation {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: var(--blue);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
  }
  #cs-navigation .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }
  #cs-navigation .cs-toggle {
    display: none;
  }
  #cs-navigation .cs-logo {
    width: 18.4%;
    max-width: 21.875rem;
    height: 4.0625rem;
    /* margin-right auto pushes everything away from it to the right */
    margin: 0 auto 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  #cs-navigation .cs-logo h2 {
    font-family: var(--headingFont);
    font-size: 1.5rem;
    color: var(--white);
  }
  #cs-navigation .cs-logo{
    text-decoration: none;
  }
  #cs-navigation .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 20px - 36px */
    gap: clamp(1.25rem, 2.6vw, 2.25rem);
  }
  #cs-navigation .cs-li {
    font-family: var(--bodyFont);
    list-style: none;
    padding: 2rem 0;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #cs-navigation .cs-li-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--white);
    display: block;
    position: relative;
  }
  #cs-navigation .cs-li-link:hover:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link.cs-active:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 0%;
    height: 2px;
    background: var(--white);
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0rem;
    left: 0;
    transition: width 0.3s;
  }
  #cs-navigation .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: var(--white);
    background-color: var(--skyblue);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #cs-navigation .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: var(--lightgray);
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #cs-navigation .cs-button-solid:hover:before {
    width: 100%;
  }
  .cs-title-home{
    min-width: 50vw;
    font-size: var(--headerFontSize);
  }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #footer {
      padding: var(--sectionPadding);
      padding-bottom: 1.25rem;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      z-index: 10;
      background-color: var(--blue);
      /* Navigation Links */
  }
  #footer .cs-container {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      column-gap: 1.5rem;
      row-gap: 2.25rem;
  }
  #footer .cs-logo-group {
      /* takes up all the space, lets the other ul's wrap below it */
      width: 100%;
      position: relative;
  }
  #footer .cs-logo {
      width: 100%;
      max-width: 12rem;
      height: 100%;
      margin: 0 auto 0 0;
      padding-bottom: 0.75rem;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      text-decoration: none;
  }
  #footer .cs-logo h2 {
      font-family: var(--headingFont);
      font-size: 1.5rem;
      color: var(--white);
  }
  #footer .cs-text {
      font-family: var(--bodyFont);
      font-size: 1.2rem;
      line-height: 1.5em;
      /* 20px - 36px */
      margin: 0 0 clamp(0.75rem, 2vw, 1rem);
      width: 78%;
      max-width: 15rem;
      color: var(--white);
  }
  #footer .cs-link {
      font-family: var(--bodyFont);
      font-size: 1rem;
      line-height: 2em;
      text-decoration: none;
      margin: 0;
      color: var(--white);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.75rem;
      transition: color 0.3s;
  }
  #footer .cs-link:hover {
      color: var(--skyblue);
  }
  #footer .cs-nav {
      width: 45%;
      max-width: 11.25rem;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 1rem;
  }
  #footer .cs-nav-li {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
  }
  #footer .cs-header-link {
      font-family: var(--bodyFont);
      font-size: 1.2rem;
      line-height: 1.2em;
      font-weight: 700;
      margin-bottom: 0.5rem;
      color: var(--white);
      position: relative;
      display: block;
      text-decoration: none;
  }
  #footer .cs-header-link:before {
      /* underline */
      content: "";
      width: 0%;
      height: 0.125rem;
      background: currentColor;
      opacity: 1;
      position: absolute;
      display: block;
      bottom: -0.125rem;
      left: 0;
      transition: width 0.3s;
  }
  #footer .cs-header-link:hover {
      color: var(--white);
  }
  #footer .cs-header-link:hover:before {
      width: 100%;
  }
  #footer .cs-nav-link {
      font-family: var(--bodyFont);
      font-size: 1rem;
      text-decoration: none;
      line-height: 1.5em;
      width: auto;
      color: var(--white);
      position: relative;
      display: inline-block;
      transition: color 0.3s;
  }
  #footer .cs-nav-link:before {
      /* underline */
      content: "";
      width: 0%;
      height: 0.125rem;
      background: currentColor;
      opacity: 1;
      position: absolute;
      display: block;
      bottom: -0.125rem;
      left: 0;
      transition: width 0.3s;
  }
  #footer .cs-nav-link:hover {
      color: var(--white);
  }
  #footer .cs-nav-link:hover:before {
      width: 100%;
  }
  #footer .cs-bottom {
      max-width: 80rem;
      margin: auto;
      /* 48px - 100px */
      margin-top: clamp(0.8rem, 3vw, 2rem);
      /* 20px - 32px */
      padding: clamp(1.25rem, 3vw, 2rem) 0 0 0;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 2.25rem;
      row-gap: 0.75rem;
  }
  #footer .cs-copyright,
  #footer .cs-copyright-link {
      font-family: var(--bodyFont);
      font-size: 0.875rem;
      line-height: 1.5em;
      color: var(--white);
  }
  #footer .cs-copyright {
      text-align: center;
      width: 100%;
  }
  #footer .cs-copyright-link {
      text-decoration: none;
      transition: color 0.3s;
  }
  #footer .cs-copyright-link:hover {
      color: var(--white);
  }
  #footer .cs-floater {
      width: 31.625rem;
      height: 31.625rem;
      margin-left: 34.375rem;
      border-radius: 50%;
      border: 2px solid var(--white);
      opacity: 0.1;
      display: none;
      position: absolute;
      left: 50%;
      top: 0;
      z-index: -1;
  }
  #footer .cs-floater:before {
      content: "";
      width: 44.6875rem;
      height: 44.6875rem;
      border: 2px solid var(--white);
      border-radius: 50%;
      opacity: 0.6;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  #footer .cs-floater:after {
      content: "";
      width: 60.1875rem;
      height: 60.1875rem;
      border: 2px solid var(--white);
      border-radius: 50%;
      opacity: 0.3;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #footer .cs-container {
      row-gap: 0;
      flex-direction: row;
      flex-wrap: nowrap;
      column-gap: 5.5rem;
      row-gap: 2.5rem;
  }
  #footer .cs-nav {
      width: auto;
  }
  #footer .cs-bottom {
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
  #footer .cs-copyright {
      text-align: left;
      width: auto;
      margin-right: auto;
  }
  #footer .cs-floater {
      display: block;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #footer .cs-container {
      max-width: 80rem;
      flex-wrap: nowrap;
      /* align everything to the right */
      justify-content: flex-end;
      column-gap: clamp(2.5rem, 6vw, 5.25rem);
  }
  #footer .cs-logo-group {
      width: 30%;
      max-width: 24.1875rem;
      /* pushes away from everything to the right */
      margin-right: auto;
  }
  #footer .cs-text {
      width: 100%;
  }
  #footer .cs-graphic {
      display: block;
  }
}

                                            
/* Base styling */
.hidden {
  display: none;
}

/* Custom Alert Styles */
#custom-alert {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--skyblue);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: var(--bodyFont);
  font-size: 16px;
  color: var(--blue);
  z-index: 9999;
  animation: slide-up 0.5s ease-in-out;
}

.alert-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-text {
  font-weight: bold;
}

.close-alert {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: var(--blue);
}

@keyframes slide-up {
  from {
      opacity: 0;
      transform: translateX(-50%) translateY(10px);
  }
  to {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
  }
}
